h1 {
  font-family: var(--header-font-family);
  font-size: 32px;
  font-weight: 600;
  padding: 10px 0 25px 0;
  border-left: unset;
  color: var(--primary-text-color);
}

h2 {
  font-family: var(--header-font-family);
  font-size: 25px;
  font-weight: 500;
  color: var(--primary-text-color);
  border-left: var(--primary-color) 8px solid;
  padding-left: 10px;
}

h3 {
  font-family: var(--header-font-family);
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-text-color);
}

@media screen and (max-width: 768px) {
	.hero section {
		padding: 0 2rem;
	}
	.hero-image {
		display: none;
	}
}
div.content {
	display: inline-block;
	max-width: 1080px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.iconlink {
	color: #aaaaaa;
	transition: color 0.5s;
	text-decoration: none;
}
.iconlink:hover {
	color: #dd1111;
}
footer {
	text-align: center;
}
.content text {
	flex: 1;
}

.hero {
  background: linear-gradient(to bottom, var(--header-color), 80%,var(--secondary-color));
}


.hero .heading-text,
header,
.logo,
header nav .subtitle-text {
  color: var(--secondary-color);
}

header {
  background-color: var(--header-color);
}

.nav-item:hover {
  color: unset;
}

.logo img {
  filter: drop-shadow(0 0 5px #FFFFFF80);
}