h1 {
  font-family: var(--header-font-family);
  font-size: 32px;
  font-weight: 600;
  padding: 10px 0 25px 0;
  border-left: unset;
  color: var(--primary-text-color);
}

h2 {
  font-family: var(--header-font-family);
  font-size: 25px;
  font-weight: 500;
  color: var(--primary-text-color);
  border-left: var(--primary-color) 8px solid;
  padding-left: 10px;
}

h3 {
  font-family: var(--header-font-family);
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-text-color);
}

div.content {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.iconlink {
	color: #aaaaaa;
	transition: color 0.5s;
	text-decoration: none;
}
.iconlink:hover {
	color: #dd1111;
}
footer {
	text-align: center;
}
.content text {
	flex: 1;
}

.hero {
  height: unset;
  padding: 0px 40px 30px;
  background: transparent;
}

.hero-logo {
	max-height: 4em;
}

.hero .heading-text,
header,
.logo,
header nav .subtitle-text {
  color: var(--secondary-color);
}

header {
  background-color: var(--header-color);
}

.header-wrapper header {
  background: transparent;
}

.nav-item:hover {
  color: unset;
}

.logo img {
  filter: drop-shadow(0 0 5px #FFFFFF55);
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-position: left 33% top 45%;
  position: relative;
  background-image: url("1235.jpg");
  background-attachment: fixed;
}

.header-wrapper > * {
  z-index: 1;
}

.header-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--hero-color);
  background-image: linear-gradient(to bottom, #FFFFFF00, 80%,var(--secondary-color));
}

.rgb .header-wrapper::before,
.rgb header {
  animation: colorRotate 12s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    background-color: #6666ff99;
  }
  10% {
    background-color: #0099ff99;
  }
  50% {
    background-color: #00ff0099;
  }
  75% {
    background-color: #ff339999;
  }
  100% {
    background-color: #6666ff99;
  }
}

.hero .heading-text {
  margin-top: 0;
}

.content blockquote {
  padding: 20px;
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

.logo {
  font-family: var(--header-font-family);
  font-weight: bold;
}

.hero .explore-more {
  background: var(--explore-more-color);
  padding: .5ex 1ex;
  border-radius: 1em;
  color: var(--secondary-color);
  box-shadow: var(--hero-color) 0 0 1em;
}

.hero .explore-more:hover {
  filter: brightness(1.2);
}

.hero h1.heading-text {
  font-size: 70px;
  margin-bottom: 0;
  
}
.hero h2.heading-text {
  font-size: 40px;
  padding-bottom: 2em;
  border-left: none;
}

@media screen and (max-width: 768px) {
	.hero section {
		padding: 0 2rem;
	}
	.hero-image {
		display: none;
	}
	.hero h1.heading-text {
      font-size: 50px;
    }
	.hero h2.heading-text {
      font-size: 30px;
    }
}

td {
  padding: 1ex;
}
