{% extends "juice/templates/index.html" %}

{% block head %}
<link rel="stylesheet" href="{{ get_url(path="gcfpeel.css") }}">
{% endblock head %}

{% block nav %}
{% endblock nav %}

{% block hero %}
<section class="text-center">
<h1 class="heading-text" style="font-size: 50px">
	Know Christ and Make Him Known
</h1>
</section>
<img class="hero-image" style="width: 50%" src="{{ get_url(path="1235.jpg") }}">

<div class="explore-more text"
	onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
	Explore More ⇩
</div>
<style>
.hero section {
	padding: 0 5rem;
}

@media screen and (max-width: 768px) {
	.hero section {
		padding: 0 2rem;
	}

	.hero-image {
		display: none
	}
}
</style>
{% endblock hero %}

{% block content %}
	{{ section.content | safe }}
{% endblock content %}

{% block footer %}
    <footer>
        <small class="subtext">
            © 2023 Greenhills Christian Fellowship Peel.<br> Member, <a href="https://www.baptist.ca/">Canadian Baptists of Ontario and Quebec</a>
        </small>
    </footer>
{% endblock footer %}