{% extends "juice/templates/index.html" %}

{% block head %}
<link rel="stylesheet" href="{{ get_url(path="gcfpeel.css") }}">
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock head %}

{% block nav %}
{% endblock nav %}

{% block header %}
<div class="header-wrapper">

<header>
  {{ macros::render_header() }}
</header>

<div class="hero">
  {% block hero %}
  <section class="text-center">
    <h1 class="heading-text">
      <img class="hero-logo" src="{{ get_url(path="logo/gcfpeel_logo-whitebord.svg") }}" alt="GCF Peel" /><br>
      Greenhills Christian Fellowship Peel
    </h1>
	<h2 class="heading-text">
	  Know Christ and Make Him Known
	</h2>
  </section>
  
  <div class="explore-more text"
       onclick="document.getElementsByTagName('main')[0].scrollIntoView({behavior: 'smooth'})">
    Explore More ⇩
  </div>
  <style>
    .hero section {
      padding: 0 5rem;
    }

    header .logo img {
	  display: none;
    }

    @media screen and (max-width: 768px) {
      .hero section {
        padding: 0 2rem;
      }

      .hero-image {
        display: none;
      }
    }
  </style>
  {% endblock hero %}

</div>

</div>
{% endblock header %}

{% block content %}
	{{ section.content | safe }}
{% endblock content %}

{% block footer %}
    <footer>
        <small class="subtext" style="font-size: 1rem;">
            ©&nbsp;2023-2025&nbsp;Greenhills&nbsp;Christian&nbsp;Fellowship&nbsp;Peel<br> Member, <a href="https://www.baptist.ca/">Canadian Baptists of Ontario and Quebec</a>
        </small>
    </footer>
{% endblock footer %}
